<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="unit/bootstrap.php"
		 verbose="true"
		 convertDeprecationsToExceptions="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		>
	<testsuite name='Nextcloud - Impersonate App Tests'>
		<directory suffix='Test.php'>.</directory>
	</testsuite>
</phpunit>

