<?xml version="1.0" encoding="utf-8" ?>
<!--
  - SPDX-FileCopyrightText: 2017-2024 Nextcloud GmbH and Nextcloud contributors
  - SPDX-FileCopyrightText: 2015 ownCloud, Inc.
  - SPDX-License-Identifier: AGPL-3.0-or-later
-->
<phpunit bootstrap="unit/bootstrap.php"
		 verbose="true"
		 convertDeprecationsToExceptions="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		>
	<testsuite name='Nextcloud - Impersonate App Tests'>
		<directory suffix='Test.php'>.</directory>
	</testsuite>
</phpunit>

